<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/empleadores">Empleadores</a>
  <a routerLink="/trabajos">Trabajos</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
