<h2>Los empleadores</h2>

<ul class="empleadores">
  <li *ngFor="let empleador of empleadores"
    [class.selected]="empleador === selectedempleador"
    (click)="onSelect(empleador)">
    <span class="badge">{{empleador.id}}</span> {{empleador.name}}
  </li>
</ul>

<app-empleador-detail [empleador]="selectedempleador"></app-empleador-detail>
