<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      
    <div class="navbar-header">
        
        <ul class="nav navbar-nav" >
          <li role="presentation" > <a href="">Linkedoff </a>  </li> 
          <li role="presentation" routerLinkActive="active"  ><a routerLink="/signup">Registrese</a></li>
          <li role="presentation" routerLinkActive="active" ><a routerLink="/signin">Inicie Sesion</a></li>
        </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs" [ngStyle]="{'background-color': lightblue}" id="secondnav" > 
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><a routerLink="/">Home</a></li>
        <li role="presentation" routerLinkActive="active" ><a routerLink="/usuarios">Usuarios</a></li>
        <li role="presentation" routerLinkActive="active" ><a routerLink="/empleados">Empleados</a></li>
        <li role="presentation" routerLinkActive="active" ><a routerLink="/categorias">Trabajos por categoria</a></li>
        <li><a>Empleadores</a></li>
        <!-- routerlink redirects links without reloading the app, routerLinkActive gives them styling, exact asks for the FULL EXACT path -->
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <router-outlet></router-outlet>
    </div>
  </div>
</div>
