<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="list-group">
        <p> Lista de Usuarios </p>
        <a
          [routerLink]="['/usuarios', user.username]"
          fragment="loading"
          href="#"
          class="list-group-item"
          *ngFor="let user of usuarios">
          {{ user.id }} {{user.username}} <span class="badge" *ngIf="user.empleadooempleador"> Empleador </span> <span class="badge" *ngIf="!user.empleadooempleador"> Empleado </span>
        </a>
  
        
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
  <p>Puede ser jefe o empleado</p>
  <router-outlet></router-outlet>
  
  </div>
 