
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="list-group">
        <p> Estos son los empleados de servidor </p>
        <a
          class="list-group-item"
          *ngFor="let categoria of categorias"
          [ngStyle]="{'background-color': 'lightgray','font-weight': 'bold' }">
          Categoria :{{ categoria.nombre_cat }} 
           <a 
           class="list-group-item" 
           *ngFor="let trabajo of categoria.trabajos"
           [routerLink]="['/trabajos',trabajo.id]" 
           routerLinkActive="router-link-active" > 
           {{trabajo.nombre}} 
          </a>
        </a>
  
        <div class="row">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>