<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
      <form (ngSubmit)="onSubmit()" #f="ngForm" >
        <div class="form-group">
          <label for="id">Id del Usuario</label>
          <input
            type="text"
            id="id"
            class="form-control"
            ngModel
            name="id"
            required>
        </div>
        <div class="form-group">
          <label for="empleadooempleador">Estado Laboral</label>
          <select
          id="empleadooempleador"
          class="form-control"
          [(ngModel)]="estadotemp"
          name="empleadooempleador">
          <option value="true">Empleador</option>
          <option value="false">Empleado</option>
        </select>
        <div class="form-group">
          <label for="name">Nombre del Usuario</label>
          <input
            type="text"
            id="name"
            class="form-control"
            ngModel
            name="name"
            required>
        </div>
        <div class="form-group">
          <label for="password">Contraseña del Usuario</label>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required>
        </div>
        
        </div>
        <button
        class="btn btn-primary"
        type="submit"
        >Cree su Usuario</button>
      </form>
    </div>
  </div>
   </div>
  

