<div *ngIf="empleador">

  <h2>{{empleador.name | uppercase}} Details</h2>
  <div><span>id: </span>{{empleador.id}}</div>

  <div>
    <label>name:
      <input [(ngModel)]="empleador.name" placeholder="name"/>
    </label>
  </div>
  <div><span>reputacion: </span>{{empleador.reputacion}}</div>
  <div><span>ofertas: </span>{{empleador.ofertas}}</div>
</div>
<button (click)="goBack()">go back</button>
