<h3>Empleadores  Preferidos</h3>
<div class="grid grid-pad">
  <a *ngFor="let empleador of empleadores" class="col-1-4"
      routerLink="/detail/{{empleador.id}}">
    <div class="module empleador">
      <h4>{{empleador.name}}</h4>
    </div>
  </a>
</div>
<h3>Trabajos requeridos</h3>
<div class="grid grid-pad">
  <a *ngFor="let trabajo of trabajos" class="col-1-4"
      routerLink="/detailt/{{trabajo.id}}">
    <div class="module trabajo">
      <h4>{{trabajo.name}}</h4>
    </div>
  </a>
</div>
