<h2>Los trabajos</h2>

<ul class="trabajos">
  <li *ngFor="let trabajo of trabajos"
    [class.selected]="trabajo === selectedtrabajo"
    (click)="onSelect(trabajo)">
    <span class="badge">{{trabajo.id}}</span> {{trabajo.name}}
  </li>
</ul>

<app-trabajo-details [trabajo]="selectedtrabajo"></app-trabajo-details>
