<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="list-group">
        <p> Estos son los empleados de servidor </p>
        <a
          [routerLink]="['/empleados',empleado.user]"
          fragment="loading"
          href="#"
          class="list-group-item"
          *ngFor="let empleado of trueempleados">
          {{ empleado.user }} <span class="badge" *ngIf="empleado.estado_empleo"> Con empleo </span> <span class="badge" *ngIf="!empleado.estado_empleo"> Desempleado </span>
        </a>
  
        
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
  <p>Empleado significa desempleado</p>
  <router-outlet></router-outlet>
  
  </div>
  <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
      <form (ngSubmit)="onSubmit()" #f="ngForm" >
        <div class="form-group">
          <label for="id">Id del Usuario</label>
          <input
            type="text"
            id="id"
            class="form-control"
            ngModel
            name="id"
            required>
        </div>
        <div class="form-group">
          <label for="estadoempleo">Estado Laboral</label>
          <select
          id="estadoempleo"
          class="form-control"
          [(ngModel)]="estadotemp"
          name="estadoempleo">
          <option value="true">Empleado</option>
          <option value="false">Desempleado</option>
        </select>
         <span>{{estadotemp}}</span>
        </div>
        <button
        class="btn btn-primary"
        type="submit"
        >Cree su empleado</button>
      </form>
    </div>
  </div>
   </div>
  </div>

