<div *ngIf="trabajo">

  <h2>{{trabajo.name | uppercase}} Details</h2>
  <div><span>id: </span>{{trabajo.id}}</div>

  <div>
    <label>name:
      <input [(ngModel)]="trabajo.name" placeholder="name"/>
    </label>
  </div>
  <div><span>salario: </span>{{trabajo.salario}}</div>
  <div><span>intensidad: </span>{{trabajo.intensidad}}</div>
</div>
