<div class="container">
    <h3>Log In</h3>
  <div class="row" *ngIf="!suService.token">
    <div class="col-sm-4">
      <label>Nombre del Usuario:</label><br />
      <input type="text" name="login-username" [(ngModel)]="user.username">
      <span *ngFor="let error of suService.errors.username"><br />
      {{ error }}</span></div>
    <div class="col-sm-4">
      <label>Contraseña:</label><br />
      <input type="password" name="login-password" [(ngModel)]="user.password">
      <span *ngFor="let error of suService.errors.password"><br />
      {{ error }}</span>
      
    </div>
    
      
    
    <div class="col-sm-12">
      <span *ngFor="let error of suService.errors.non_field_errors">{{ error }}<br /></span>
    </div>
  </div>
  <div class="row">
      
      <div class="col-sm-4 ">
            <button (click)="login()" class="btn btn-primary">Log In</button>
      </div>
      
    
  </div>
  <div class="row" *ngIf="suService.token">
    <div class="col-sm-12">You are logged in as {{ suService.username }}.<br />
      Token Expires: {{ suService.token_expires }}<br />
      <button (click)="refreshToken()" class="btn btn-primary">Refresh Token</button>
      <button (click)="logout()" class="btn btn-primary">Log Out</button>
    </div>
  </div>
  </div>
  