<div class="container" >
  <div class="col-xs-12 col-sm-4" >
      <div class="row">
          Trabajo: {{trabajo.id}}
      </div>
      <div class="row" id="nombre">
         {{trabajo.nombre}}
      </div>
  </div>
  
  
</div>
